aiofiles==0.5.0
alembic==1.5.8
aniso8601==7.0.0
appdirs==1.4.4
async-exit-stack==1.0.1
async-generator==1.10
autopep8==1.5.6
bcrypt==3.2.0
beautifulsoup4==4.9.3
black==21.4b2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.65.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.0.0
h11==0.12.0
httptools==0.1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
mypy-extensions==0.4.3
orjson==3.5.1
passlib==1.7.4
pathspec==0.8.1
promise==2.3
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-http-client==3.3.2
python-jose==3.2.0
python-multipart==0.0.5
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
Rx==1.6.1
sendgrid==6.7.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.5
starkbank-ecdsa==1.1.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.7.4.3
ujson==3.2.0
urllib3==1.26.5
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==9.1
